body {
    font-family: Helvetica, Arial, sans-serif;
}

.container-fluid {
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1C3968;
    position: fixed;
    top: 0;
    left: 0;
}

.scroll-area {
    height: calc(100% - 50px);
    width:100%;
    float:left;
    overflow-y: auto;
    background-color: #1C3968;
}

.tab-content {
    color : white;   
    background-color: #1C3968;
}

.tab-pane > * {
    margin: 0;
}

.row {
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: lighter;
    font-size: 20px;
    padding: 10px 10px;

}


/* Set a style for all buttons */
.washerbutton {
    background-color: white;
    color: #1C3968;
    padding: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 50px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: block;
    font-size: 10px;
    margin: 3px auto;
    display: block;
    outline: none;
}

.in-use {
    background-color: red;
}

button:hover {
    background-color: #eee;
}
button:active {
}

.nav-pills > li > a {
    border-radius: 0;
    color: #1C3968;
    background-color: white;
    height: 100%;
}

.nav-pills > li {
    width: 33.33%;
    height: 100%;
    text-align: center;
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-pills {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}


.nav-pills > li.active > a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #1C3968;
}
